.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.recommendation {
  width: 28%;
  /*float: left;*/
  /*border: 1px solid black;*/
}

#mynetwork,
#cy {
  width: 100%;
  height: 800px;
  border: 1px solid black;
}