<div class="container">
  <h1>Rekomendacje</h1>
  {{#if not_prepared }}
    Rekomendacje są w trakcie przygotowania.
  {{/if}}
  @{{{loggedUser.username}}}
  <div class="recommendations">
  {{#each items}}
    <div class="recommendation" id="recommendation-{{{id}}}">
    <h2><a href="https://twitter.com/{{{screen_name}}}">{{{screen_name}}}</a></h2>
    <p>{{{description}}}</p>
    Mutual followers: {{{recommendation_score}}}
    </div>
  {{/each}}
  </div>
</div>