<div class="container">
  <h1>Graf</h1>
  <div id="mynetwork"></div>
  {{!-- <div id="cy"></div> --}}
</div>

<!-- JavaScripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/vis.js"></script>
<script type="text/javascript">
    $.get('/graph/nodes').done(function(data) {
        console.log(data);
        var nodes = new vis.DataSet(data.nodes);

        // create an array with edges
        var edges = new vis.DataSet(data.edges);

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            "nodes": {
                "color": {
                  "highlight": {
                    "border": "rgba(214,233,42,1)",
                    "background": "rgba(255,141,12,1)"
                  }
                }
              },
              "edges": {
                  "arrows": {
                    "middle": {
                        "enabled": true
                      }
                  },
                  "smooth": {
                    "forceDirection": "none"
                  }
                },
            layout: {
                improvedLayout: false,
                randomSeed: 2,
                // hierarchical: {
                //     direction: 'UD',
                //     parentCentralization: true,
                //     levelSeparation: 150,
                //     nodeSpacing: 100,
                //     blockShifting: true,
                //     edgeMinimization: true,
                // },
            },
            interaction: {
                dragNodes: true
            },
            physics: {
                enabled: true,
                "forceAtlas2Based": {
                  "springLength": 100
                },
                "minVelocity": 0.75,
                "solver": "forceAtlas2Based"
          }
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);
    });
</script>