<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <!-- Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <style>
        body {
            font-family: 'Roboto';
        }

        .fa-btn {
            margin-right: 6px;
        }
    </style>
</head>
<body id="app-layout">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">

                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand" href="/">
                    Home
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Authentication Links -->

                    {{#if loggedUser}}
                        <li><a href="/graph">Graf</a></li>
                        <li><a href="/">{{{loggedUser.displayName}}}</a></li>
                    {{else}}
                        <li><a href="/login">Zaloguj się</a></li>
                    {{/if}}

                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

    <!--<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>
    <script type="text/javascript">
        $.get('/graph/nodes').done(function(data) {

                var cy = window.cy = cytoscape({
                    container: document.getElementById('cy'),

                  boxSelectionEnabled: false,
                  autounselectify: true,

                            layout: {
                                name: 'dagre'
                            },

                            style: [
                                {
                                    selector: 'node',
                                    style: {
                                        'content': 'data(id)',
                                        'text-opacity': 0.5,
                                        'text-valign': 'center',
                                        'text-halign': 'right',
                                        'background-color': '#11479e'
                                    }
                                },

                                {
                                    selector: 'edge',
                                    style: {
                                        'width': 4,
                                        'target-arrow-shape': 'triangle',
                                        'line-color': '#9dbaea',
                                        'target-arrow-color': '#9dbaea',
                                        'curve-style': 'bezier'
                                    }
                                }
                            ],

                            elements: {
                                nodes: data.nodes,
                                edges: data.edges,
                            },
                        });

                    });
    </script>-->
    <!-- <script src="/js/app.js"></script> -->
</body>
</html>